@font-face {
  font-family: 'Pragmatica';
  src: url('https://cdn.glitch.com/2e0cf87a-999b-4b20-bf6a-2358bd8f52f0%2Fpragmatica.ttf?1550441282993');
}

body {
}
a {
  color: #000000;
  text-decoration: none;
}

.project {
  font-family: Pragmatica;
  font-size: 72px;
  line-height: 95%;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#contacts {
  font-family: Pragmatica;
  font-size: 12pt;
  padding: 20px;
  background-color: #ff00ff;
  position: fixed;
  top: 20px;
  right: 20px;
}

.content {
  line-height: 100%;
  display: flex;
  font-size: 18px;
  text-transform: none;
  padding: 20px 20px 20px 5px;
  cursor: default;
}
.content img {
  object-fit: contain;
  max-height: 80vh;
  margin-right: 20px;
  cursor: e-resize;
}

.content video {
  max-width: 100vw;
  margin-right: 20px;
}

.content p {
  max-width: 800px;
}

#asterisk {
  display: none;
  font-family: Pragmatica;
  font-size: 216px;
  color: #ff00ff;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}


@media (max-width: 1400px) {
  .project {
    padding: 15px;
  }
  .content{
    flex-direction: column;
    font-size: 36px;
  }
  .content img {
    width: 100%;
    margin-right: 0px;
    padding-bottom: 40px;
  }
  .content p {
    max-width: 100vw;
  }
  #contacts {
    display: none;
    font-size: 36pt;
    padding-bottom: 40px;
  }

  #asterisk {
    display:block;
 }

}
